
{{!-- <div class="exerciseRecord text-center ">
  <p>{{format_date date}}</p>
  <p>{{exercise.name}}  ({{exercise.type}})</p>
  <p>{{duration}}</p>
  <p>{{calories_burnt}}</p>
  <div style="height: 2px;"></div>
</div> --}}

<tr>
            <td></td>
            <td>{{first_name}} {{last_name}}</td>
            <td>{{total_calories_burnt}}</td>
</tr>
