
{{!-- <div class="exerciseRecord text-center ">
  <p>{{format_date date}}</p>
  <p>{{exercise.name}}  ({{exercise.type}})</p>
  <p>{{duration}}</p>
  <p>{{calories_burnt}}</p>
  <div style="height: 2px;"></div>
</div> --}}

<tr>
            <th scope="row">{{format_date date}}</th>
            <td>{{exercise_type}} {{exercise_name}}</td>
            <td>{{duration}}</td>
            <td>{{calories_burnt}}</td>
</tr>
