<div class="exerciseRecord text-center ">
  <p>{{date}}</p>
  {{!-- <p>{{exercise.name}}  ({{exercise.type}})</p> --}}
  <p>{{duration}}</p>
  <p>{{calories_burnt}}</p>
  <div style="height: 2px;"></div>
</div>