<div class="row align-items-center justify-content-around">
    <div class="col-3 border border-primary border-4 rounded p-3" style="height: 60vh;">
        <h3 style="text-decoration: underline;">USER PROFILE</h3>
        <div class="card text-center" style="height: 50vh;">
            <div class="card-body" style="line-height: 5;">
                <h5 class="card-title"> {{first_name}} {{last_name}} </h5> </h5>
                <p class="card-text"> Weight: {{weight}} KG </p>
                <p class="card-text"> Age: {{age}}  </p>
                <p class="card-text"> Email: {{email}} </p>
    
                <a href="/dashboard/edit" class="btn btn-primary">EDIT PROFILE</a>
            </div>
        </div>
    </div>
    <div class="col-8 border border-primary border-4 rounded p-3" style="height: 60vh;">
        <div class="row">
            <div class="col col-md-6 offset-md-3">
                <h3 style="text-decoration: underline;">PAST 5 DAYS RECORD</h3>
            </div>
            <div class="col col-md-1 offset-md-1">
                <button class="btn btn-primary me-md-2" type="button">
                    <a href="/newexerciserecord">+ Add a record</a>
                </button>
            </div>
        </div>

        {{!-- <div class="row align-items-center ">
            <div class="col">
                DATE
            </div>
            <div class="col">
                EXERCISE TYPE
            </div>
            <div class="col">
                DURATION
            </div>
            <div class="col">
                CALORIES BURNT
            </div> --}}

            {{!-- render each exercise record detail from patial --}}
            {{#if exerciseRecord}}
                <section class="text-center">
                {{#each exerciseRecord as |record|}}
                {{> record-details}}
                {{/each}}
                </section>
            {{/if}}

        {{!-- </div> --}}
    </div>
</div>
