<div class="row align-items-center justify-content-around">
    <div class="col-md-4 col-11 border border-primary border-4 rounded p-3" style="height: 50vh;">
        <h3 style="text-decoration: underline;">USER PROFILE</h3>
        <div class="card text-center" style="height: 40vh;">
            <div class="card-body pt-5" style="line-height: 5;">
                <h5 class="card-title"> {{first_name}} {{last_name}} </h5>
                </h5>
                <p class="card-text m-auto"> Weight: {{weight}} KG </p>
                <p class="card-text m-auto"> Age: {{age}} </p>
                <p class="card-text m-auto"> Email: {{email}} </p>

                <a href="/dashboard/edit" class="btn btn-primary">EDIT PROFILE</a>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-11 border border-primary border-4 rounded p-3" style="height:50vh; overflow: scroll;">
        <div class="row">
            <div class="col col-md-6 offset-md-3">
                <h3 style="text-decoration: underline;">PAST 5 DAYS RECORD</h3>
            </div>
            <div class="col col-md-2 offset-md-1">
                <button class="btn btn-primary" type="button" data-calories="{{total_calories_burnt}}">
                    <a href="/newexerciserecord">+ ADD</a>
                </button>
            </div>
        </div>

            {{!-- render each exercise record detail from patial --}}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Exercise Type</th>
                        <th scope="col">Duration (mins)</th>
                        <th scope="col">Calories Burnt (cal)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if exerciseRecord}}
                    {{#each exerciseRecord as |record|}}
                    {{> record-details}}
                    {{/each}}
                </tbody>
                {{/if}}
            </table>
    </div>
</div>
