<div class="row justify-content-center">

	<div class="col-md-8" style="border: 3px solid blue;">
		<h2>
			Sign Up Your Own Account
		</h2>

		{{#if signUp}}
		<form class="form signup-form">
			<div class="form-group pb-2">
				<label for="first-name-signup">First Name:</label>
				<input class="form-input" type="text" id="first-name-signup" required />
			</div>
			<div class="form-group pb-2">
				<label for="last-name-signup">Last Name:</label>
				<input class="form-input" type="text" id="last-name-signup" required />
			</div>
			<div class="form-group pb-2">
				<label for="email-signup">Email:</label>
				<input class="form-input" type="text" id="email-signup" required />
			</div>
			<div class="form-group pb-2">
				<label for="password-signup">Password:</label>
				<input placeholder="Minimun 8 characters..." class="form-input" type="password" id="password-signup"
					required />
			</div>
			<div class="form-group pb-2">
				<label for="password-signup-confirm">Confirm Your Password:</label>
				<input placeholder="Make sure both password match up..." class="form-input" type="password" id="password-signup-confirm"
					required />
			</div>
			<div class="form-group pb-2">
				<label for="weight-signup">Weight:</label>
				<input placeholder="Enter values in Kilogram(KG)..." class="form-input" type="text" id="weight-signup" required />
			</div>
			<div class="form-group pb-2">
				<label for="height-signup">Age:</label>
				<input placeholder="Enter values only..." class="form-input" type="text" id="age-signup" required />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">SIGNUP</button>
			</div>
		</form>
		{{/if}}

		{{#if editProfile}}
		<form class="form edit-profile-form">
			<div class="form-group pb-2">
				<label for="first-name-signup">First Name:</label>
				<input class="form-input" type="text" id="first-name-signup" value={{first_name}} required />
			</div>
			<div class="form-group pb-2">
				<label for="last-name-signup">Last Name:</label>
				<input class="form-input" type="text" id="last-name-signup" value={{last_name}} required />
			</div>
			<div class="form-group pb-2">
				<label for="email-signup">Email:</label>
				<input class="form-input" type="text" id="email-signup" value={{email}} required />
			</div>
			<div class="form-group pb-2">
				<label for="weight-signup">Weight:</label>
				<input placeholder="KG" class="form-input" type="text" value={{weight}} id="weight-signup" required />
			</div>
			<div class="form-group pb-2">
				<label for="height-signup">Age:</label>
				<input class="form-input" type="text" id="age-signup" value={{age}} required />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">SIGNUP</button>
			</div>
		</form>
		{{/if}}

	</div>

</div>

<script src="/js/profile.js"></script>